{{!< default}}
<div class="app-container">
      <header>
        <h1>front-end developer</h1>
        <h2>Donald Cook</h2>
      </header>

      <div class="container">
        <span class="content-row">
          <section class="container-content md-6">
            <h3>Experienced UI Developer</h3>
            <p>Donald brings over 14 years of experience to building applications on the web. He excels at adapting to any project, whether it be one in the early stages of planning or an established project with thousands of lines of code already created.</p>
          </section>

          <section class="container-content md-6 container-content-main">
            <h3>Proficient with numerous web technologies</h3>
            <p>Donald is very familiar with modern front-end technologies, including JavaScript, CSS3, HTML5. He has built projects using multiple frameworks including AngularJS, Backbone.js and custom frameworks. Donald has worked with and without CSS pre-processors, including Sass and Less. He has also worked with CSS frameworks including Bootstrap. Donald also has worked on back-ends of web applications, using multiple languages including Node.js, Ruby (Rails and Sinatra) and Java.</p>
          </section>
        </span>

        <section class="container-content">
          <h3>Let's work together</h3>
          <p>Donald is currently accepting new project work. If you’d like to inquire about hiring Donald, feel free to shoot him an email or contact him on any of the services below.</p><p>
          <a href="mailto:donaldpcook@gmail.com" class="content-email">E: donaldpcook at gmail dot com</a><br/>
          P: 503-609-0423</p>

          <div class="content-social">
            <a href="https://github.com/donaldpcook" class="icon-github-square"></a>
            <a href="https://www.linkedin.com/pub/donald-cook/38/852/320" class="icon-linkedin-square"></a>
            <a href="https://twitter.com/_donaldcook" class="icon-twitter-square"></a>
          </div>
        </section>
      </div>

      <div class="samples">
        <h3>Recent work</h3>
        <div class="samples-container">
          <div class="samples-thumbs js-thumbs">
              <div class="samples-thumbnail" data-sample="0">
                <img src="{{asset "/images/screenshots/ct-thumb.png"}}" />
                <button class="samples-button">chicagotribune.com</button>
              </div>
              <div class="samples-thumbnail" data-sample="1">
                <img src="{{asset "/images/screenshots/ctt-thumb.png"}}" />
                <button class="samples-button">touch.chicagotribune.com</button>
              </div>

              <div class="samples-thumbnail" data-sample="2">
                <img src="{{asset "/images/screenshots/rbi-thumb.png"}}" />
                <button class="samples-button">redboxinstant.com</button>
              </div>
              <div class="samples-thumbnail" data-sample="3">
                <img src="{{asset "/images/screenshots/fyb-thumb.png"}}" />
                <button class="samples-button">flickyourbic.com</button>
              </div>

              <div class="samples-thumbnail" data-sample="4">
                <img src="{{asset "/images/screenshots/dmg-thumb.png"}}" />
                <button class="samples-button">Disney Matching Game</button>
              </div>
              <div class="samples-thumbnail" data-sample="5">
                <img src="{{asset "/images/screenshots/ly-thumb.png"}}" />
                <button class="samples-button">livingyogaaurora.com</button>
              </div>
          </div>

          <div class="samples-full">
            <div class="samples-full-container" data-sample="0">
            <img src="{{asset "/images/screenshots/ct-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">chicagotribune.com</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Complete responsive redesign of Chicago Tribune’s (and Tribune’s other market’s) website.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Led a team of developers in building newspaper market's websites. Tasked with making front-end architecture decisions in order to produce a performant, optimized and user friendly application.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / HTML5 / CSS3 / Responsive Design techniques / Java / SVN</p>
                </div>
              </div>
            </div>

            <div class="samples-full-container" data-sample="1">
              <img src="{{asset "/images/screenshots/ctt-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">touch.chicagotribune.com</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Mobile website framework for The Tribune Company's 8 major newpaper markets</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Led a team of developers charged with creating a responsive framework to be used across multiple websites. Tasked with making architecture and optimization decisions. Day to day, wrote much of the code used in the application.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / HTML5 / CSS3 / Responsive Design techniques / SVN / Azure / Jenkins</p>
                </div>
              </div>

            </div>

            <div class="samples-full-container" data-sample="2">
              <img src="{{asset "/images/screenshots/rbi-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">redboxinstant.com</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Streaming video service for the web and many other outlets.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Led a team of eight front and back end developers. Team both maintained legacy application and worked on creating new AngularJS application. Code also built to be used on other HTML5 capable devices.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / AngularJS / HTML5 / CSS3 / Responsive Design techniques / Java</p>
                </div>
              </div>
            </div>

            <div class="samples-full-container" data-sample="3">
              <img src="{{asset "/images/screenshots/fyb-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">flickyourbic.com</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Microsite used to highlight BIC's new lighters</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Full stack developer. Was only developer. Built back-end using Ruby (with Sinatra).</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / HTML5 / CSS3 / Responsive Design techniques / Ruby / Sinatra / Heroku / PostgreSQL / DataMapper</p>
                </div>
              </div>
            </div>

            <div class="samples-full-container" data-sample="4">
              <img src="{{asset "/images/screenshots/dmg-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">Disney Matching Game</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Flash game advertising Disney Resorts</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Handled front end interaction with Flash game.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / Flash / Heroku</p>
                </div>
              </div>
            </div>

            <div class="samples-full-container" data-sample="5">
              <img src="{{asset "/images/screenshots/ly-full.png"}}" />

              <div class="samples-full-info">
                <button class="samples-button js-close">livingyogaaurora.com</button>

                <div class="row">
                  <h4 class="samples-full-title">about:</h4>
                  <p class="small samples-full-description">Website for local yoga studio</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">role:</h4>
                  <p class="small samples-full-description">Handled both front/back ends and design. Back-end built on Rails. Also built API using Node.js.</p>
                </div>

                <div class="row">
                  <h4 class="samples-full-title">tech used:</h4>
                  <p class="small samples-full-description">JavaScript / jQuery / HTML5 / CSS3 / Responsive Design techniques / Ruby on Rails / AngularJS / Node.js / Heroku</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

